@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/dates/styles.css";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#root {
    min-height: 100%;
    width: 100%;
}

.truncated-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}
